.container {
	display: flex;
	height: 100vh;
}
.controls .form-input {
	margin-top: 200px;
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	display: flex;
}

.map-container {
	width: 100%;
	height: 70vh;
	margin: 1rem;
	border-radius: 1rem;
	border: 2px solid rgba(163, 21, 45, 0.6);
}

.map {
	width: 80%;
	height: 100vh;
}
.input-box {
	width: 100%;
	padding: 0.5rem;
}
