.nav-link-hover {
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
}

.nav-link-hover:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #a3152d;
	transition: width 0.3s ease;
}

.nav-link-hover:hover:before {
	width: 100%;
}

@media (max-width: 992px) {
	.nav-link-hover:hover:before {
		width: 20%;
	}
}
