.icon-container-landing {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.icon-container-landing .slide-in {
	position: relative;
	left: 100%;
	animation: slideIn 1s forwards;
}

.icon-container-landing .slide-in:hover {
	color: rgba(249, 246, 246, 0.684);
}

.icon-landing {
	width: 100px;
	height: 100px;
	transition: transform 0.3s, fill 0.3s;
	vertical-align: middle;
}


@keyframes scaleUp {
    0%, 100% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1.7); 
    }
    75% {
      transform: scale(1.9); 
    }
  }
  
  .bloodhub-logo {
    animation: scaleUp 3s infinite; /
  }
  

.icon-container-landing:hover .icon {
	fill: red;

	transform: scale(1.2) translateY(-3%);
}

.container-landing {
	font-size: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
}

.left-col-landing {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.left-col-landing p {
	font-size: 40px;
	color: whitesmoke;
}

.left-col-landing h1 {
	color: whitesmoke;
	font-size: 90px;
}

.enter-site {
	position: relative;
	overflow: hidden;
	background-color: transparent;
	color: #fdfafa;
	border: 3px solid rgba(250, 249, 249, 0.494);
	padding: 15px 30px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
}

.enter-site::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(249, 246, 246, 0.684);
	transition: left 0.25s ease-in;
	z-index: -1;
}

.enter-site:hover::before {
	left: 0;
}
.enter-site:hover {
	color: black;
	border: 3px solid rgba(250, 249, 249, 0.494);
}

.nav-link-custom:hover .enter-site,
.nav-link-custom:focus .enter-site {
	background-color: transparent;
	color: inherit;
	text-decoration: none; 
}
a:hover .enter-site,
a:focus .enter-site {
	background-color: transparent; 
	color: black;
	text-decoration: none; 
}
.slide-in {
	position: relative;
	left: 100%;
	animation: slideIn 1s forwards;
}
@keyframes slideIn {
	0% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

@keyframes dropText {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	60% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(-10px);
	}

	85% {
		transform: translateY(0);
	}

	92.5% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0);
		color: red;
	}
}

.moving-text-landing {
	animation: dropText 3s ease-in-out;
}

.main-landing {
	width: 100%;
	height: 100vh;
}

.container-landing {
	position: relative;
	width: 100%;
	height: 100%;
}

.video-landing {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay-landing {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(172, 53, 53, 0.1);
}

.content-wrapper-landing {
	position: relative;
	z-index: 1;
}

.main-container {
	/* max-width: 1400px;
	margin: 0 auto;
	padding: 2rem;
	max-width: 1280px; */
}

.nav-link-hover {
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s ease; 
}

.nav-link-hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 3px; 
    background-color: #A3152D; 
    transition: width 0.3s ease; 
}

.nav-link-hover:hover:before {
    width: 100%;
}
